<h1 style="text-align:center;">Update</h1>
<form class="form-horizontal">
	<div class="form-group">
		<label for="name" class="col-lg-2 control-label">Name</label>
		<div class="col-lg-10"><input type="text" class="form-control" ng-model="girl.name"></div>
	</div>
	<div class="form-group">
		<label for="name" class="col-lg-2 control-label">Age</label>
		<div class="col-lg-10"><input type="text" class="form-control" ng-model="girl.age"></div>
	</div>
	<div class="form-group">
		<label for="name" class="col-lg-2 control-label">Facebook</label>
		<div class="col-lg-10"><input type="text" class="form-control" ng-model="girl.facebook"></div>
	</div>
	<div class="form-group">
		<label for="name" class="col-lg-2 control-label">Password</label>
		<div class="col-lg-10"><input type="text" class="form-control" ng-model="girl.password"></div>
	</div>
	<div class="form-group">
		<div class="col-lg-10 col-lg-offset-2">
			<input type="button" value="Update" ng-click="update()" class="btn btn-success button">
			<input type="button" value="Cancel" ng-click="cancel()" class="btn btn-default button">
		</div>	
	</div>
</form>
